{% extends "layouts/dps.html" %}

{% set pageName="Add emergency PIN phone credit" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/application-tool/single-general-app/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
  			<div class="govuk-breadcrumbs">
  				<ol class="govuk-breadcrumbs__list">
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/view/">View applications</a>
  					</li>
  				</ol>
  			</div>
  		</nav>

      <h1 class="govuk-heading-xl">
        Add emergency PIN phone credit
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">


      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="./index.html">Application</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./comments.html">
              Comments
            </a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./action.html">Action and reply</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./history.html">History</a>
          </li>
        </ul>

      </nav>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Application details</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['pin_03_actionRespond'] == "Approved" or data['pin_03_actionRespond'] == "Declined"  %}
                  Closed
                {% else %}
                  Pending
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Department
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['pin_03_appDept'] %}
                  {{ data['pin_03_appDept'] }}
                {% else %}
                  Business Hub
                {% endif %}
              </dd>
              {% if data['pin_03_actionRespond'] !== "Approved" and data['pin_03_actionRespond'] !== "Declined"  %}
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="forward.html">Forward<span class="govuk-visually-hidden"> department</span></a>
              </dd>
              {% endif %}              
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application type
              </dt>
              <dd class="govuk-summary-list__value">
                Add emergency PIN phone credit
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date sent
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ 0 | getDate }}</p>
              </dd>
            </div>
            <!--
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application ID
              </dt>
              <dd class="govuk-summary-list__value">
                3453546
              </dd>
            </div>-->
          </dl>


          <h2 class="govuk-heading-m">Prisoner details</h2>
          <dl class="govuk-summary-list  govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                {% if (data['pin_03_prisonerName']) and (data['pin_03_prisonNumber']) %}
                  {{ data['pin_03_prisonerName'] }} ({{ data['pin_03_prisonNumber'] }})
                {% else %}
                  Patel, Taj (AB1234C)
                {% endif %}
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">View profile</a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                C-2-013
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alerts
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">5</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">View alerts</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                IEP
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Enhanced</p>
              </dd>
            </div>
          </dl>


          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Emergency credit to add</h2>
            {% if data['pin_03_actionRespond'] !== "Approved" and data['pin_03_actionRespond'] !== "Declined"  %}
            <a href="#" class="govuk-body">Change <span class="govuk-visually-hidden"> visiting orders</span></a>
            {% endif %}
          </div>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Amount
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['pin_03_amount'] %}
                £{{ data['pin_03_amount'] }}
                {% else %}
                £3
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reason
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['pin_03_reason'] %}
                  {{ data['pin_03_reason'] }}
                {% else %}
                  Family bereavement
                {% endif %}
              </dd>
            </div>
          </dl>
  
         </div>
      </div>

      </div>

    </div>


  </div> <!-- end main content  -->



{% endblock %}
