{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Application response – Wright, Ethan
{% endblock %}

{% set bodyClasses = 'print' %}


{% block content %}

        <div id="actionBar">
          <a href="#" target="_blank" class="govuk-button govuk-button--secondary"  onclick="window.print();">
            Print
          </a>
        </div>
         
        <img src="/public/images/HMPPS-Logo-Black.svg" alt="HM Prison & Probation Service" width="200px" class="govuk-!-margin-bottom-7">
       
          <p class="govuk-body govuk-!-margin-bottom-0">{{ app.prisoner_name }}</p>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ app.prisoner_location }}</p>
          <p class="govuk-body">HMP Kirkham</p>
          <p class="govuk-body">{{ 0 | getDate }}</p>

          <h1 class="govuk-heading-s">
            Your application has been
            {% if (data['pin_06_actionRespond'] == 'Declined') or (app.decision == "Declined") %}
              declined.
            {% elseif (data['pin_06_actionRespond'] == 'Approved') or (app.decision == "Approved") %}
              approved.
            {% endif %}
          </h1>

          <div id="response-approved" class="response-toggle form">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Application type
                </dt>
                <dd class="govuk-summary-list__value">
                  Add new social PIN phone contact
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact
                </dt>
                <dd class="govuk-summary-list__value">
                   {{ data['pin_01_socialContactFirstName'] }} {{ data['pin_01_socialContactLastName'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date logged
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{ -3 | getDate }}</p>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Action
                </dt>
                <dd class="govuk-summary-list__value">
                {% if (data['pin_06_actionRespond'] == 'Declined') or (app.decision == "Declined") %}
                  Declined
                {% elseif (data['pin_06_actionRespond'] == 'Approved') or (app.decision == "Approved") %}
                  Approved
                {% endif %}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if data['pin_06_decisionReason'] %}
                    {{ data['pin_06_decisionReason'] }}
                  {% endif %}
                </dd>
              </div>
            </dl>
          </div>

          <p class="govuk-body govuk-!-margin-bottom-0">Business Hub</p>
          <p class="govuk-body govuk-!-margin-bottom-0">HMP Kirkham</p>

{% endblock %}
