{% extends "layouts/dps.html" %}

{% set pageName="Select application type" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/mvp/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

          {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

          {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Select an application type",
              href: "#"
            }
          ]
        }) }}

          <form class="form" method="post">

            <div class="govuk-form-group govuk-form-group--error">
              <fieldset class="govuk-fieldset" aria-describedby="chooseApp-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <span class="govuk-caption-xl">Log an application</span>
                  <h1 class="govuk-fieldset__heading">
                    {{pageName}}
                  </h1>
                </legend>
                <p id="chooseApp-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Select an application type
                </p>

                <div id="chooseApp-hint" class="govuk-hint">
                </div>
                <div class="govuk-radios" data-module="govuk-radios">

                  {% for app in data['apps'] %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{ app.appid }}" name="appType" type="radio" value="{{ app.appid }}">
                    <label class="govuk-label govuk-radios__label" for="{{ app.appid }}">
                      {{ app.type }}
                    </label>
                  </div>
                  {% endfor %}

                </div>
              </fieldset>
            </div>
            <div class="moj-button-action">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

</div> <!-- end main content  -->



{% endblock %}
