{% extends "layouts/dps.html" %}

{% set pageName="Confirmation" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/application-tool/app-type-lookup-latest/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-!-padding-top-9" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
              <div class="govuk-panel__body govuk-!-padding-bottom-3">
                Supply list of PIN phone contacts
              </div>
              <h1 class="govuk-panel__title">
                Application submitted
              </h1>
            </div>
            <p class="govuk-body-l">Business Hub now has this application.</p>
            <p class="govuk-body">You can now:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li><a href="{{homeurl}}applications/view/supply-pin-contacts/application.html">View this application</a></li>
                <li><a href="{{homeurl}}applications/log/select-app-type.html">Add another application</a></li>
                <li><a href="{{homeurl}}applications/view/">Return to applications dashboard</a></li>
            </ul>


            </div>
        </div>
      </main>
    </div></div>

  </div> <!-- end main content  -->



{% endblock %}
