<div class="panel-header">
	<h2 class="govuk-heading-m">Pending applications</h2>
  </div>
  <div class="panel-content">

	<div id="noResults" style="display:none;">
		<p>No results found.</p>
	</div>
	
	<div id="results">
		<table id="dataTable2" class="dataTable govuk-table apps-list" data-module="moj-sortable-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
				  <th scope="col" class="govuk-table__header nowrap" aria-sort="descending">Date</th>
				  <th scope="col" class="govuk-table__header">Application type</th>
				  <th scope="col" class="govuk-table__header">From</th>
				  <th scope="col" class="govuk-table__header">Department</th>
				  <th scope="col" class="govuk-table__header" ></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<!-- If you have justed added an single general application-->
				{% if data['pin_07_submitted'] === 'submitted' %}
		        <tr class="govuk-table__row " data-tags="Patel, Taj {{ data['pin_01_prisonNumber'] }} Add emergency PIN phone credit"">
					<td class="govuk-table__cell nowrap convertDate">
						{% if data['pin_07_submittedDate'] %}
						  {{ data['pin_07_submittedDate'] }}
						{% else %}
						  {{ 0 | getDate }}
						{% endif %}
					</td>
					<td class="govuk-table__cell">
						{{ data['app_type'] }}
					</td>
					<td class="govuk-table__cell">
						{% if data['pin_07_prisonerName'] %}
							{{ data['pin_07_prisonerName'] }}
						{% else %}
							Patel, Taj
						{% endif %}
						<span class="govuk-table__subtext govuk-body-s">
							{% if data['pin_07_prisonNumber'] %}
								{{ data['pin_07_prisonNumber'] }}
							{% else %}
								(AB1234C)
							{% endif %}
						</span>
					</td>
					<td class="govuk-table__cell">
							{% if data['pin_07_app_dept'] %}
								{{ data['pin_07_app_dept'] }}
							{% else %}
								Business Hub
							{% endif %}
					</td>
					<td class="govuk-table__cell"><a href="{{homeurl}}applications/view/general-app/application.html">View</a></td>
				</tr>
				{% endif %}
				<!-- If you have justed added an Add new social PIN phone contact application-->
				{% if data['pin_01_submitted'] === 'submitted' %}
		        <tr class="govuk-table__row " data-tags="Patel, Taj {{ data['pin_01_prisonNumber'] }} Add emergency PIN phone credit"">
					<td class="govuk-table__cell nowrap convertDate">
						{% if data['pin_01_submittedDate'] %}
						  {{ data['pin_01_submittedDate'] }}
						{% else %}
						  {{ 0 | getDate }}
						{% endif %}
					</td>
					<td class="govuk-table__cell">
						Add new social PIN phone contact
						<span class="govuk-table__subtext govuk-body-s">
						PIN phones
						</span>
					</td>
					<td class="govuk-table__cell">
						{% if data['pin_01_prisonerName'] %}
							{{ data['pin_01_prisonerName'] }}
						{% else %}
							Patel, Taj
						{% endif %}
						<span class="govuk-table__subtext govuk-body-s">
							{% if data['pin_01_prisonNumber'] %}
								{{ data['pin_01_prisonNumber'] }}
							{% else %}
								(AB1234C)
							{% endif %}
						</span>
					</td>
					<td class="govuk-table__cell">Business Hub</td>
					<td class="govuk-table__cell"><a href="{{homeurl}}applications/view/new-social-pin-contact/application.html">View</a></td>
				</tr>
				{% endif %}
				<!-- If you have justed added an Add new legal PIN phone contact application-->
				{% if data['pin_02_submitted'] === 'submitted' %}
		        <tr class="govuk-table__row " data-tags="Patel, Taj {{ data['pin_01_prisonNumber'] }} Add emergency PIN phone credit"">
					<td class="govuk-table__cell nowrap convertDate">
						{% if data['pin_02_submittedDate'] %}
						  {{ data['pin_02_submittedDate'] }}
						{% else %}
						  {{ 0 | getDate }}
						{% endif %}
					</td>
					<td class="govuk-table__cell">
						Add new legal PIN phone contact
						<span class="govuk-table__subtext govuk-body-s">
						PIN phones
						</span>
					</td>
					<td class="govuk-table__cell">
						{% if data['pin_02_prisonerName'] %}
							{{ data['pin_02_prisonerName'] }}
						{% else %}
							Patel, Taj
						{% endif %}
						<span class="govuk-table__subtext govuk-body-s">
							{% if data['pin_02_prisonNumber'] %}
								{{ data['pin_02_prisonNumber'] }}
							{% else %}
								(AB1234C)
							{% endif %}
						</span>
					</td>
					<td class="govuk-table__cell">Business Hub</td>
					<td class="govuk-table__cell"><a href="{{homeurl}}applications/view/new-legal-pin-contact/application.html">View</a></td>
				</tr>
				{% endif %}

				<!-- If you have justed added an Add emergency PIN phone credit application-->
				{% if data['pin_03_submitted'] === 'submitted' %}
		        <tr class="govuk-table__row " data-tags="Patel, Taj {{ data['pin_03_prisonNumber'] }} Add emergency PIN phone credit"">
					<td class="govuk-table__cell nowrap convertDate">
						{% if data['pin_03_submittedDate'] %}
						  {{ data['pin_03_submittedDate'] }}
						{% else %}
						  {{ 0 | getDate }}
						{% endif %}
					</td>
					<td class="govuk-table__cell">
						Add emergency PIN phone credit
						<span class="govuk-table__subtext govuk-body-s">
						PIN phones
						</span>
					</td>
					<td class="govuk-table__cell">
						{% if data['pin_03_prisonerName'] %}
							{{ data['pin_03_prisonerName'] }}
						{% else %}
							Patel, Taj
						{% endif %}
						<span class="govuk-table__subtext govuk-body-s">
							{% if data['pin_03_prisonNumber'] %}
								{{ data['pin_03_prisonNumber'] }}
							{% else %}
								(AB1234C)
							{% endif %}
						</span>
					</td>
					<td class="govuk-table__cell">Business Hub</td>
					<td class="govuk-table__cell"><a href="{{homeurl}}applications/view/emergency-pin-credit/application.html">View</a></td>
				</tr>
				{% endif %}
				<!-- If you have just added a Remove PIN phone contact application-->
				{% if data['pin_04_submitted'] === 'submitted' %}
		        <tr class="govuk-table__row " data-tags="Patel, Taj {{ data['pin_03_prisonNumber'] }} Add emergency PIN phone credit"">
					<td class="govuk-table__cell nowrap convertDate">
						{% if data['pin_04_submittedDate'] %}
						  {{ data['pin_04_submittedDate'] }}
						{% else %}
						  {{ 0 | getDate }}
						{% endif %}
					</td>
					<td class="govuk-table__cell">
						Remove PIN phone contact
						<span class="govuk-table__subtext govuk-body-s">
						PIN phones
						</span>
					</td>
					<td class="govuk-table__cell">
						{% if data['pin_04_prisonerName'] %}
							{{ data['pin_04_prisonerName'] }}
						{% else %}
							Patel, Taj
						{% endif %}
						<span class="govuk-table__subtext govuk-body-s">
							{% if data['pin_04_prisonNumber'] %}
								{{ data['pin_04_prisonNumber'] }}
							{% else %}
								(AB1234C)
							{% endif %}
						</span>
					</td>
					<td class="govuk-table__cell">Business Hub</td>
					<td class="govuk-table__cell"><a href="{{homeurl}}applications/view/remove-pin-phone-contact/application.html">View</a></td>
				</tr>
				{% endif %}

				<!-- If you have justed added a Swap VOs for PIN credit application-->
				{% if data['pin_05_submitted'] === 'submitted' %}
		        <tr class="govuk-table__row" data-tags="Patel, Taj {{ data['pin_05_prisonNumber'] }} Business Hub Swap VOs for PIN credit"">
					<td class="govuk-table__cell nowrap">{{ 0 | getDate }}</td>
					<td class="govuk-table__cell">
						Swap VOs for PIN credit
						<span class="govuk-table__subtext govuk-body-s">
						PIN phones
						</span>
					</td>
					<td class="govuk-table__cell">
						{% if data['pin_05_prisonerName'] %}
							{{ data['pin_05_prisonerName'] }}
						{% else %}
							Patel, Taj
						{% endif %}
						<span class="govuk-table__subtext govuk-body-s">
							{% if data['pin_05_prisonNumber'] %}
								{{ data['pin_05_prisonNumber'] }}
							{% else %}
								(AB1234C)
							{% endif %}
						</span>
					</td>
					<td class="govuk-table__cell">Business Hub</td>
					<td class="govuk-table__cell"><a href="{{homeurl}}applications/view/swap-vos-pin-credit/application.html">View</a></td>
				</tr>
				{% endif %}
				<!-- If you have justed added a Supply list of PIN contacts application-->
				{% if data['pin_06_submitted'] === 'submitted' %}
		        <tr class="govuk-table__row" data-tags="Patel, Taj {{ data['pin_06_prisonNumber'] }} Business Hub Supply list of PIN phone contacts"">
					<td class="govuk-table__cell nowrap">{{ 0 | getDate }}</td>
					<td class="govuk-table__cell">
						Supply list of PIN phone contacts
						<span class="govuk-table__subtext govuk-body-s">
						PIN phones
						</span>
					</td>
					<td class="govuk-table__cell">
						{% if data['pin_06_prisonerName'] %}
							{{ data['pin_06_prisonerName'] }}
						{% else %}
							Patel, Taj
						{% endif %}
						<span class="govuk-table__subtext govuk-body-s">
							{% if data['pin_06_prisonNumber'] %}
								{{ data['pin_06_prisonNumber'] }}
							{% else %}
								(AB1234C)
							{% endif %}
						</span>
					</td>
					<td class="govuk-table__cell">Business Hub</td>
					<td class="govuk-table__cell"><a href="{{homeurl}}applications/view/supply-pin-contacts/application.html">View</a></td>
				</tr>
				{% endif %}				
				<!-- Load all other apps from json -->
				{% for app in data['allMVP2Apps'] %}
				{% if app.decision == null %}
		        <tr class="govuk-table__row" data-tags="{{ app.prisoner_name }} ({{ app.prisoner_number }}) {{ app.current_dept }} {{ app.app_type }}"">
					<td class="govuk-table__cell nowrap reldate">{{ app.date_received }}</td>
					<td class="govuk-table__cell">
						{{ app.app_type }}
						<span class="govuk-table__subtext govuk-body-s">
						{{ app.app_group }}
						</span>
					</td>
					<td class="govuk-table__cell">
					  {{ app.prisoner_name }}
					  <span class="govuk-table__subtext govuk-body-s">{{ app.prisoner_number }}</span>
					</td>
					<td class="govuk-table__cell">{{ app.current_dept }}</td>
					<td class="govuk-table__cell"><a href="./app/application?url_id={{ app.app_id }}">View<span class="govuk-visually-hidden"> {{ app.app_type }} for {{ app.prisoner_name }} from {{ app.date_received }}</span></a></td>
				  </tr>
				{% endif %}
				{% endfor %}
		</tbody>
		</table>
		{% from "govuk/components/pagination/macro.njk" import govukPagination %}
	
		{{ govukPagination({
		  next: {
			href: "#"
		  },
		  items: [
			{
			  number: 1,
			  current: true,
			  href: "#"
			},
			{
			  number: 2,
			  href: "#"
			},
			{
			  number: 3,
			  href: "#"
			}
		  ]
		}) }}

	</div>

</div>