{% extends "layouts/dps.html" %}

{% set pageName="Applications admin" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/v2-latest/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/admin/">Admin</a>
            </li>
          </ol>
        </div>
      </nav>

      <span class="govuk-caption-xl">Manage groups</span>
      <h1 class="govuk-heading-xl">
        Wings
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="./">Departments</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="./governors.html">Governors</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="./wings.html">Wings</a>
              </li>
            </ul>

          </nav>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <a href="./add/wing" class="govuk-button">Add wing</a>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Wings</caption>
            <thead class="govuk-table__head govuk-visually-hidden">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Wings</th>
                <th scope="col" class="govuk-table__header visually-hiddden">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% if data['newWingName'] %}
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">{{ data['newWingName'] }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./manage/wing/first-night-centre">Manage</a></td>
              </tr>
              {% endif %}
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">First night centre</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./manage/wing/first-night-centre">Manage</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">A Wing</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./manage/wing/a-wing">Manage</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">B Wing</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./manage/wing/b-wing">Manage</a></td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>




          </div>

        </div>
      </div>
    </div> <!-- end main content  -->
  </div>

{% endblock %}
