{% extends "layouts/dps.html" %}

{% set pageName="Add governor" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/single-general-app-v1-2/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <span class="govuk-caption-xl">Manage groups</span>
      <h1 class="govuk-heading-xl">
        Add governor
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <form class="form" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label" for="newGovernorName">
                Governor name
              </label>
              <input class="govuk-input" id="newGovernorName" name="newGovernorName" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="newGovernorEmail">
                Email
              </label>
              <input class="govuk-input" id="newGovernorEmail" name="newGovernorEmail" type="email">
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save
            </button>
            </form>

        </div>
      </div>
    </div> <!-- end main content  -->
  </div>
</div>


{% endblock %}
