{% extends "layouts/dps.html" %}

{% set pageName="Log prisoner details" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/mvp/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <span class="govuk-caption-xl">
        Add new social PIN phone contact
      </span>
      <h1 class="govuk-heading-xl">Log prisoner details</h1>


            <form class="form" method="post" action="/staff/mvp/applications/log/new-social-pin-contact/application-details">

              <div class="govuk-form-group govuk-!-margin-bottom-0">
                <label class="govuk-label govuk-label--s" for="prisonNumber">
                  Prison number
                </label>
                <input class="govuk-input govuk-input--width-10" id="prisonNumber" name="prisonNumber" type="text" value="{{ data['prisonNumber'] }}">
                <a href="#" id="prisonNumber-lookup" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Find prisoner
                </a>
              </div>

              <div id="prisoner-name-row"  class="govuk-inset-text govuk-!-margin-top-0">
                Prisoner name: Patel, Taj
              </div>

              {%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

                {{ mojDatePicker({
                id: "submittedDate",
                name: "submittedDate",
                label: {
                    text: "Date",
                    classes: "govuk-label--s"
                },
                value:  data['submittedDate'] ,
                classes: "govuk-!-margin-bottom-5"
              }) }}




              {% from "govuk/components/radios/macro.njk" import govukRadios %}

              {{ govukRadios({
                classes: "govuk-radios--inline",
                name: "prisonerFNC",
                fieldset: {
                  legend: {
                    text: "Is this person in the first night or early days centre?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                hint: {
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("prisonerFNC", "Yes")
                  },
                  {
                    value: "No",
                    text: "No",
                    checked: checked("prisonerFNC", "No")
                  }
                ]
              }) }}


            <div class="moj-button-action">
              {% from "govuk/components/button/macro.njk" import govukButton %}
              {{ govukButton({
                text: "Continue"
              }) }}
            </div>

            </form>

          </div>
        </div>
      </div>
    </div>

</div> <!-- end main content  -->

{% endblock %}


{% block pageScripts %}

{% endblock %}
