{% extends "layouts/dps.html" %}

{% set pageName="New PIN phone contact" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/latest/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
  			<div class="govuk-breadcrumbs">
  				<ol class="govuk-breadcrumbs__list">
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
  					</li>
            <li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/omu/pending.html">OMU</a>
  					</li>
  				</ol>
  			</div>
  		</nav>

      <span class="govuk-caption-xl">Business Hub applications</span>
      <h1 class="govuk-heading-xl">
          Add new social PIN phone contact
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">


      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./index.html">Application</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page"  href="./comments.html">
              Comments
            </a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./action-decision.html">Action and reply</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./history.html">History</a>
          </li>
        </ul>

      </nav>

      <h2 class="govuk-heading-m">Comments about this application</h2>
      <p class="govuk-body">Only staff will see these comments</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          {% if data['newComment'] %}

          <div class="app-message govuk-body">
            <div class="app-messages-metadata">
              J. Smith | {{ -1 | getDate }} at 16:52
            </div>
            <div class="app-messages-content">
              {{ data['newComment'] }}
            </div>
          </div>
          {% endif %}

          <div class="app-message govuk-body">
            <div class="app-messages-metadata">
              B. Ahmad | {{ -2 | getDate }} at 16:52
            </div>
            <div class="app-messages-content">
              <p></p>
              Public protction checks complete
            </div>
          </div>

          <div class="app-message govuk-body">
            <div class="app-messages-metadata">
              B. Ahmad | {{ -3 | getDate }} at 16:52
            </div>
            <div class="app-messages-content">
              <p></p>
              Attempted contact on {{ -3 | getDate }} and went to voicemail
            </div>
          </div>

          <div class="app-message govuk-body">
            <div class="app-messages-metadata">
              B. Ahmad | {{ -2 | getDate }} at 16:52
            </div>
            <div class="app-messages-content">
              <p></p>
              Contact made on second attempt and confirmed.
            </div>
          </div>


      <div data-module="moj-add-another">

      <form class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="more-detail">
            Add a comment
          </label>
          <textarea class="govuk-textarea" id="newComment" name="newComment" rows="5"></textarea>
        </div>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--s"">Notify staff about this comment (optional)</legend>

          <dl id="notify-list" class="govuk-summary-list">
          </dl>

          <div class="govuk-form-group">
            <label for="my-autocomplete" class="govuk-label">Name</label>
            <div class="notify-group">
              <div id="my-autocomplete-wrapper">
                  <select id="my-autocomplete">
                    <option value="" selected disabled hidden></option>
                    {% for individual in data['prisonStaff'] %}
                    <option value="{{ individual.last_name }}, {{ individual.first_name }} ({{ individual.job_title }})">{{ individual.last_name }}, {{ individual.first_name }} ({{ individual.job_title }})</option>
                    {% endfor %}
                  </select>
              </div>
              <a id="addName" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Add
              </a>
            </div>
          </div>
        </fieldset>

        <div class="moj-button-action">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save comment
          </button>
        </div>

      </form>
      </div>
      </div>
      </div>

      </div>

    </div>


  </div> <!-- end main content  -->



{% endblock %}

{% block pageScripts %}
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#my-autocomplete')
  })
</script>

{% endblock %}
