{% extends "layouts/dps.html" %}

{% set pageName="New PIN phone contact" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/mvp/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
  			<div class="govuk-breadcrumbs">
  				<ol class="govuk-breadcrumbs__list">
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
  					</li>
            <li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/view/pending.html">View all applications</a>
  					</li>
  				</ol>
  			</div>
  		</nav>

      <h1 class="govuk-heading-xl">
        {% set appID = data['url_id'] %}
        {% for app in data['allMVPApps'] %}
        {% if app.app_id == appID  %}
        {{ app.app_type }}
        {% endif  %}
        {% endfor  %}
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">


      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="./app/details?url_id={{appID}}">
              Application 
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./app/comments?url_id={{appID}}">
              Comments
            </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./app/action?url_id={{appID}}">
              Action and reply
              </a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./app/history?url_id={{appID}}">
              History
            </a>
          </li>
        </ul>
      </nav>

      {% set appID = data['url_id'] %}
      {% for app in data['allMVPApps'] %}
      {% if app.app_id == appID  %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Applicaton details</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['app.decision'] == "Approved" or data['actionRespond16'] == "Declined"  %}
                  Closed
                {% else %}
                  Pending
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Department
              </dt>
              <dd class="govuk-summary-list__value">
                {{ app.current_dept }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="forward?url_id={{appID}}">Forward<span class="govuk-visually-hidden"> department</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application type
              </dt>
              <dd class="govuk-summary-list__value">
                {{ app.app_type }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date sent
              </dt>
              <dd class="govuk-summary-list__value reldate">
                {{ app.date_received }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application ID
              </dt>
              <dd class="govuk-summary-list__value">
                {{ app.app_id }}
              </dd>
            </div>
          </dl>


          <h2 class="govuk-heading-m">Prisoner details</h2>
          <dl class="govuk-summary-list  govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                {{ app.prisoner_name }}
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="">View profile</a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                {{ app.prisoner_location }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                IEP
              </dt>
              <dd class="govuk-summary-list__value">
                {{ app.iep_status }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alerts
              </dt>
              <dd class="govuk-summary-list__value">
                {{ app.prisoner_alerts }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">View alerts</a>
              </dd>
            </div>
          </dl>


         </div>
      </div>

      {% endif  %}
      {% endfor  %}

      </div>

    </div>


  </div> <!-- end main content  -->



{% endblock %}
