{% extends "layouts/dps.html" %}

{% set pageName="Log new contact details" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/v2-latest/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <span class="govuk-caption-xl">Add new legal PIN phone contact</span>
      <h1 class="govuk-heading-xl">Log new contact details</h1>

      <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">


            <form class="form" action="/staff/mvp/applications/log/new-legal-pin-contact/check-details">

            <div class="govuk-form-group govuk-!-margin-bottom-5">
              <label class="govuk-label govuk-label--s" for="legalFirstName">
                First name
              </label>
              <input class="govuk-input" id="legalFirstName" name="legalFirstName" type="text" value="{{ data['legalFirstName'] }}">
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-5">
              <label class="govuk-label govuk-label--s" for="legalLastName">
                Last name
              </label>
              <input class="govuk-input" id="legalLastName" name="legalLastName" type="text" value="{{ data['legalLastName'] }}">
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-9">
              <label class="govuk-label govuk-label--s" for="companyName">
                Company
              </label>
              <input class="govuk-input" id="companyName" name="companyName" type="text" value="{{ data['companyName'] }}">
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-margin-top-9">
              <label class="govuk-label govuk-label--s" for="legalContactTel1" aria-describedby="legalContactTel1-hint">
                Telephone numbers
              </label>
              <div id="legalContactTel1-hint" class="govuk-hint">
                Include area code or international code, if overseas
              </div>
              <input class="govuk-input govuk-!-margin-bottom-2" id="legalContactTel1" name="legalContactTel1" type="tel" value="{{ data['legalContactTel1'] }}">
              <label class="govuk-label govuk-label--s govuk-visually-hidden" for="legalContactTel2">
                Other telephone numbers
              </label>
              <input class="govuk-input" id="legalContactTel2" name="legalContactTel2" type="tel" value="{{ data['legalContactTel2'] }}">

            </div>

            <div class="moj-button-action">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end main content  -->

{% endblock %}


{% block pageScripts %}
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#address-picker')
  })
</script>

{% endblock %}
