        <div class="govuk-summary-list--header">
          <h2 class="govuk-heading-m">PIN phone contact to remove</h2>
          <a href="javascript:window.history.go(-1)" class="govuk-body">Change <span class="govuk-visually-hidden">contact details</span></a>
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              Sean
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              MacGregor
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Telephone number 1
            </dt>
            <dd class="govuk-summary-list__value">
              07756 123 456
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Telephone number 2
            </dt>
            <dd class="govuk-summary-list__value">
              0161 123 4567
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Type of contact
            </dt>
            <dd class="govuk-summary-list__value">
              Social
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Relationship
            </dt>
            <dd class="govuk-summary-list__value">
              Friend
            </dd>
          </div>

        </dl>
