{% extends "layouts/dps.html" %}

{% set pageName="View all applications in your prison" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/general-apps-categories/" %}
{% set error="yes" %}


{% block content %}

<div class="govuk-width-container">

	<nav aria-label="breadcrumb">
		<div class="govuk-breadcrumbs">
			<ol class="govuk-breadcrumbs__list">
				<li class="govuk-breadcrumbs__list-item">
					<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
				</li>
				<li class="govuk-breadcrumbs__list-item">
					<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
				</li>
			</ol>
		</div>
	</nav>

	{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

	{{ govukErrorSummary({
	  titleText: "There is a problem",
	  errorList: [
		{
		  text: "Check your spelling or clear the search, then try again ",
		  href: "#prisoner-autocomplete-error"
		}
	  ]
	}) }}

	<span class="govuk-caption-xl">Applications</span>
	<h1 class="govuk-heading-xl">
		{{pageName}}
	</h1>
</div>


<div class="dps-content">
	<div class="govuk-width-container">

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">
				{% include "./includes/filters-error.html" %}
			</div>

			<div class="govuk-grid-column-two-thirds">

				<div class="govuk-tabs" data-module="govuk-tabs">
					<ul class="govuk-tabs__list">
					  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
						<a class="govuk-tabs__tab" href="#pending">
						  Pending
						</a>
					  </li>
					  <li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#closed">
						  Closed
						</a>
					  </li>
					</ul>
					<div class="govuk-tabs__panel" id="pending">
						{% include "./includes/pending_apps_table.html" %}
					</div>
					<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed">
						{% include "./includes/closed_apps_table.html" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block pageScripts %}
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#prisoner-autocomplete')
  })
</script>

{% endblock %}
