{% extends "layouts/dps.html" %}

{% set pageName="Check details" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/application-tool/general-apps-depts/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

    <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-xl">
          Add new legal PIN phone contact
        </span>

        <h1 class="govuk-heading-xl">Check details</h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application group
            </dt>
            <dd class="govuk-summary-list__value">
              PIN phones
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/application-tool/general-apps-depts/applications/log/select-app-type" class="govuk-body">Change <span class="govuk-visually-hidden"> application group</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application type
            </dt>
            <dd class="govuk-summary-list__value">
              Add new legal PIN phone contact
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/application-tool/general-apps-depts/applications/log/select-app-type" class="govuk-body">Change <span class="govuk-visually-hidden"> application type</span></a>
            </dd>
          </div>
        </dl>



        <div class="govuk-summary-list--header">
          <h2 class="govuk-heading-m">Application details</h2>
          <a href="javascript:window.history.go(-2)" class="govuk-body">Change <span class="govuk-visually-hidden"> application details</span></a>
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Prisoner name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['pin_02_prisonerName']) and (data['pin_02_prisonNumber']) %}
                {{ data['pin_02_prisonerName'] }} ({{ data['pin_02_prisonNumber'] }})
              {% else %}
                Patel, Taj (AB1234C)
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date sent
            </dt>
              {% if data['pin_02_submittedDate'] %}
              <dd class="govuk-summary-list__value convertDate">
                {{ data['pin_02_submittedDate'] }}
              </dd>
              {% else %}
              <dd class="govuk-summary-list__value">
                {{ 0 | getDate }}
              </dd>
              {% endif %}
          </div>
        </dl>

        <div class="govuk-summary-list--header">
          <h2 class="govuk-heading-m">New legal contact to add</h2>
          <a href="javascript:window.history.go(-1)" class="govuk-body">Change <span class="govuk-visually-hidden">legal PIN phone contact details</span></a>
        </div>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['pin_02_legalFirstName'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['pin_02_legalLastName'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['pin_02_companyName'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationship
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['pin_02_contactRelationship'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Telephone number 1
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['pin_02_legalContactTel1'] %}
              <p>{{ data['pin_02_legalContactTel1'] }}</p>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Telephone number 2
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['pin_02_legalContactTel2'] %}
              <p>{{ data['pin_02_legalContactTel2'] }}</p>
              {% endif %}
            </dd>
          </div>

        </dl>

        <form class="form" action="/application-tool/general-apps-depts/applications/log/new-legal-pin-contact/confirmation">
        
          <!-- Note: This element is to be used in prototype only. It is there to confirm the submission of the form and allow multiple apps to be submitted in one session-->
  
          <div class="govuk-form-group govuk-visually-hidden">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                  PIN 02 submitted
              </legend>
              <div class="govuk-radios--small" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="pin_02_submitted" name="pin_02_submitted" type="radio" value="submitted" checked="checked" />
                  <label class="govuk-label govuk-radios__label" for="pin_02_submitted">
                    submitted
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
  
          <!-- /end note -->
  
          <div class="moj-button-action">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>
  
        </form>

      </div>
    </div>

    </div>
  </div>

  </div> <!-- end main content  -->
{% endblock %}

