.filters-accordion {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
}

.filters-accordion__heading {
  position: relative;
  padding: 10px 8px 5px 30px;
  margin: 0;
}

.filters-accordion__button {
  z-index: 1;
  background: none;
  border: 0;
  text-align: left;
  padding: 0;
  cursor: pointer;
  color: #1d70b8;
}

.filters-accordion__title {
  font-size: 19px;
  line-height: 1.3157894737;
}

.filters-accordion__icon {
  display: none;
  position: absolute;
  top: 20px;
  left: 2px;
  width: 20px;
  fill: #0b0c0c;
}

[aria-expanded=true] ~ .filters-accordion__icon--up {
  display: block;
}

[aria-expanded=false] ~ .filters-accordion__icon--down {
  display: block;
}

.filters-accordion__selected-counter {
  font-size: 14px;
  line-height: 1.4285714286;
}

.filters-accordion__filter {
  position: relative;
  background: #fff;
  padding: 13px 0px 10px 0px;
}

.filters-accordion__search {
  padding-bottom: 10px;
}

.filters-accordion__filter-input {
  font-family: "nta", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 33px;
  background: url("/public/images/icon-search.svg") #fff no-repeat -5px -3px;
}

.filters-accordion__container-inner {
  padding: 5px 13px;
}

.filters-accordion__container {
  position: relative;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}

.filters-accordion.js-closed .filters-accordion__filter,
.filters-accordion.js-closed .filters-accordion__container {
  display: none;
}