{% extends "layouts/dps.html" %}

{% set pageName="Supply list of PIN phone contacts" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/pin-phones/mvp/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <span class="govuk-caption-xl">Supply list of PIN phone contacts</span>
      <h1 class="govuk-heading-xl">Log details</h1>

      <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">


            <form class="form" action="/pin-phones/mvp/applications/log/supply-pin-contacts/check-details">

              {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

              {{ govukTextarea({
                name: "printPINsDetail",
                id: "print-pins-detail",
                label: {
                  text: "Details (optional)",
                  classes: "govuk-label--s"
                },
                hint: {
                  text: "Add a brief summary"
                }

              }) }}


            <div class="moj-button-action">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end main content  -->



{% endblock %}
