{% extends "layouts/dps.html" %}

{% set pageName="Paul White" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps admin' %}
{% set homeurl="/application-tool/single-general-app/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/admin/">Admin</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/admin/user-roles/">Manage user roles</a>
            </li>
          </ol>
        </div>
      </nav>
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
          <div class="govuk-width-container">

            <span class="govuk-caption-xl">Manage user roles</span>
            <h1 class="govuk-heading-xl">
              Paul White
            </h1>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">

                    <form>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="user-name">
                          Name
                        </label>
                        <input class="govuk-input" id="user-name" name="userName" type="text" value="Paul White" disabled>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="event-name">
                          Email
                        </label>
                        <input class="govuk-input" id="user-email" name="userEmail" type="text" value="paul.white@justice.gov.uk" disabled>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="event-name">
                          Job title
                        </label>
                        <input class="govuk-input" id="user-job" name="userJob" type="text" value="Governor">
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                          <legend class="govuk-fieldset__legend ">
                              User permissions
                          </legend>
                          <div id="changedName-hint" class="govuk-hint">
                            What permissions do they have for using this managing applications service?
                          </div>
                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="userRoleStd" name="userRole" type="radio" value="standard" checked>
                              <label class="govuk-label govuk-radios__label" for="userRoleStd">
                                Standard
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="userRoleAdmin" name="userRole" type="radio" value="Admin">
                              <label class="govuk-label govuk-radios__label" for="userRoleAdmin">
                                Admin
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <button type="submit" class="govuk-button" data-module="govuk-button">
                        Save
                      </button>
                    </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end main content  -->
  </div>
</div>


{% endblock %}
