{% extends "layouts/dps.html" %}

{% set pageName="Log details" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/general-apps-categories/" %}
{% set appType = data['appType'] %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
      {% for group, details in data['groupsAndGeneralApps'] %}
        {% for app in details.apps %}
          {% if app.app_id == appType %}

      <span class="govuk-caption-xl">{{ app.app_type }}</span>
      <h1 class="govuk-heading-xl">Log details</h1>

      <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">

          <form class="form" action="{{homeurl}}applications/log/check-details?url_cat={{appType}}">

              <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--s" for="app_detail">
                    Details
                  </label>
                </h1>
                <div id="app_detail-hint" class="govuk-hint">
                  Add a brief summary
                </div>
                <textarea class="govuk-textarea govuk-js-character-count" id="app_detail" name="app_detail" rows="5" aria-describedby="app_detail-info app_detail-hint"></textarea>
                <div id="app_detail-info" class="govuk-hint govuk-character-count__message">
                  You can enter up to 200 characters
                </div>
              </div>     

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="app_dept">
                  Department
                </label>
                <div id="app_dept-hint" class="govuk-hint">
                  Send this application to:
                </div>
                <select class="govuk-select" id="app_dept" name="app_dept">
                  <option value="" disabled selected>Select a department</option>
                  <option value="Activities">Activities</option>
                  <option value="Business Hub">Business Hub</option>
                  <option value="Chaplaincy">Chaplaincy</option>
                  <option value="Education">Education</option>
                  <option value="Healthcare">Healthcare</option>
                  <option value="OMU">OMU</option>
                  <option value="Reception">Reception</option>
                  <option value="Safer Custody">Safer Custody</option>
                  <option value="Visits">Visits</option>
                </select>
              </div>

              <div class="govuk-form-group" style="display: none;">
                <label class="govuk-label" for="width-10">
                  Application name
                </label>
                <input class="govuk-input govuk-input--width-10" id="appType" name="appType" type="text" value="{{ data['appType'] }}">
              </div>
    
            <div class="moj-button-action">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>

            </form>

          </div>

          {% include "./data-playback.html" %}

      </div>

      </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
</div>
  </div>

</div> <!-- end main content  -->



{% endblock %}
