{% extends "layouts/dps.html" %}

{% set pageName="Applications admin" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/pin-phones/mvp-phase-2/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/admin/">Admin</a>
            </li>
          </ol>
        </div>
      </nav>

      <span class="govuk-caption-xl">Manage groups</span>
      <h1 class="govuk-heading-xl">
        Departments
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="./index.html">Departments</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="./governors.html">Governors</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="./wings.html">Wings</a>
              </li>
            </ul>

          </nav>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <a href="./add/department" class="govuk-button">Add department</a>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Departments</caption>
            <thead class="govuk-table__head govuk-visually-hidden">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Department</th>
                <th scope="col" class="govuk-table__header visually-hiddden">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% if data['newDeptName'] %}
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">{{ data['newDeptName'] }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./manage/department/">Manage</a></td>
              </tr>
              {% endif %}
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Business Hub</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./manage/department/business-hub">Manage</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">OMU</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="./manage/department/omu">Manage</a></td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>



          </div>

        </div>
      </div>
    </div> <!-- end main content  -->
  </div>

{% endblock %}
