{% extends "layouts/dps.html" %}

{% set pageName="Select department" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/application-tool/latest/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

    <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <form class="form" action="/application-tool/latest/applications/log/select-app-group?url_cat={{appName}}">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="chooseApp-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Log an application</span>
            <h1 class="govuk-fieldset__heading">
              {{pageName}}
            </h1>
          </legend>
          <div id="chooseApp-hint" class="govuk-hint">
          </div>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          
          {% for dept in data['departments'] %}
          <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="{{ dept.department_id }}" name="appDept" type="radio" value="{{ dept.department_name }}">
              <label class="govuk-label govuk-radios__label" for="{{ dept.department_id }}">
                {{ dept.department_name }}
              </label>
            </div>
          {% endfor %}

          </div>
        </fieldset>
      </div>
      <div class="moj-button-action">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>

      </form>

    </div>
  </div>
</div>
</div>

  </div> <!-- end main content  -->



{% endblock %}
