{% extends "layouts/dps.html" %}

{% set pageName="Select department" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/pin-phones/latest/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <form class="form" action="/pin-phones/latest/applications/log/check-details">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="chooseDept-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <span class="govuk-caption-xl">
                    {% for app in data['mvp2apptypes'] %}
                    {% if app.appid == data['appType'] %}
                    {{ app.type }}
                    {% endif %}
                    {% endfor %}

                  </span>
                  <h1 class="govuk-fieldset__heading">
                    {{pageName}}
                  </h1>
                </legend>
                <div id="chooseDept-hint" class="govuk-hint">
                </div>
                <div class="govuk-radios" data-module="govuk-radios">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dept-01" name="appDept" type="radio" value="Business Hub">
                    <label class="govuk-label govuk-radios__label" for="dept-01">
                      Business Hub
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dept-02" name="appDept" type="radio" value="Chaplaincy">
                    <label class="govuk-label govuk-radios__label" for="dept-02">
                      Chaplaincy
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dept-03" name="appDept" type="radio" value="OMU">
                    <label class="govuk-label govuk-radios__label" for="dept-03">
                      OMU
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dept-04" name="appDept" type="radio" value="PIN Clerks">
                    <label class="govuk-label govuk-radios__label" for="dept-04">
                      PIN Clerks
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dept-05" name="appDept" type="radio" value="Safer Custody">
                    <label class="govuk-label govuk-radios__label" for="dept-05">
                      Safer Custody
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dept-06" name="appDept" type="radio" value="Security">
                    <label class="govuk-label govuk-radios__label" for="dept-06">
                      Security
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="moj-button-action">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

</div> <!-- end main content  -->



{% endblock %}