<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
  <a href="/application-tool/app-type-lookup-latest/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">App type lookup</a>
      </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
       For research
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Lookup the app type using the accessible autocomplete</h2>
    <p>General app flow using a accessible autocomplete as a search / type ahead component for all app types.</p>
    <p><a href="https://www.figma.com/design/VcybFxCfpzKZzdgkvFL8vx/General-apps-work?node-id=6869-16175&t=rEdTYDrPTT2SMc9t-4">Figma flow</a></p>
  </td>
</tr>
<!--  end example -->
