<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/dept-led-latest/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">General Apps (department led) v1.2</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--yellow">
      For research
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">General Apps leading with departments v1.2</h2>
    <p>Exploring starting with department then choosing a category.</p>
    <p><a href="https://www.figma.com/design/VcybFxCfpzKZzdgkvFL8vx/General-apps-work?node-id=6869-17282&t=rEdTYDrPTT2SMc9t-4">Figma flow </a></p>
  </td>
</tr>
<!--  end example -->
