<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/general-apps-depts/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">General Apps (departments)</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Ideation
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">General Apps leading with departments</h2>
    <p>Exploring how to scale the system to allow for logging of many request types that come via the general app starting with their department and type.</p>
  </td>
</tr>
<!--  end example -->
