<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/latest/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Latest</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Iteration
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Latest version</h2>
    <p>Changes made to this version based on insights from usability testing 14th - 24th October</p>

    <p>Applications landing page</p>
      <ul>
        <li>Added in Governors as a group</li>
      </ul>

      <p>List of applications / group page</p>

      <ul>
      <li>Changed the layout to split out pending and closed applications to make it easier to order by oldest first</li>
      <li>removed the wing filter</li>
      <li>added in a priority filter for first night centre</li>
      <li>added the decision to the closed applications list and removed status as that is now inferred by the tab you are on</li>
    </ul>

      <p>Logging applications</p>
      <ul>
      <li>Split out prisoner details onto a separate screen</li>
      <li>Split social and legal visitors forms into their own applications</li>
      <li>Changed the format of asking for Age/DoB</li>
      <li>Added a question to check if the person is from the first night centre</li>
      </ul>

      <p>Application details</p>
      <ul>
      <li>Added a link directly to the alerts in the Prisoner Profile</li>
      </ul>



    </p>
    <p>Based on this <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface?node-id=3834-35525">figma design</a></p>
  </td>
</tr>
<!--  end example -->
