<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/mvp-phase-2/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">MVP Phase 2</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--green">
      Prototype
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">MVP Phase 2</h2>
    <p>This is phase 2 of the MVP - adding the other 3 apps (Add a social PIN contact, Add a legal PIN contact, Remove a contact)</p>

    <p>Based on these <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface-MVP?node-id=5967-12562">figma designs</a></p>
  </td>
</tr>
<!--  end example -->
