<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/mvp-phase-2-1/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">PIN Phones: phase 2 </a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--green">
      Prototype
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">MVP Phase 2</h2>
    <p>This is the latest iteration of phase 2 of the MVP, now known as PIN phone apps.</p>
    <p>This iteration includes.</p>
    <uL>
      <li>Moved the prisoner look up to the start</li>
      <li>Removed the date field</li>
      <li>Moved first night centre question to the application details page</li>
      <li>Added in a question page for Department</li>
      <li>Removed actioned by on the decision page and adding in the prisoner name and location</li>
      <li>The ability to add another application for this prisoner, or for someone else (clears session data now for a clean application)</li>
      <li>Updates to routes and flows to simplify as much as possible</li>
    </uL>

    <p>Figma designs to be consolidated and linked</p>
  </td>
</tr>
<!--  end example -->
