<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/mvp/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Latest</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      In development
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">MVP</h2>
    <p>This is the version of design going into the MVP</p>

    <p>Based on the final <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface?node-id=1-45">figma design</a></p>
  </td>
</tr>
<!--  end example -->
