<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
  <a href="/staff/single-general-app-v1-2/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Single general app v1.2</a>
      </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--yellow">
            For research
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Single general app v1.2</h2>
    <p>Singl;e general app flow using a accessible autocomplete as a search / type ahead component.</p>
  </td>
</tr>
<!--  end example -->
