<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/general-apps/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">General Apps</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--green">
      Ideation
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">General Apps</h2>
    <p>Exploring how to scale the system to allow for logging of many request types that come via the general app.</p>

  </td>
</tr>
<!--  end example -->
