<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/v1-5/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1.5</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Iteration
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Version 1.5</h2>
    <p>This version was created to use for research and usability testing focussing in on PIN phone applications.</p>

    <p>Key pages and features:</p>
    <ul>
      <li>Log an application</li>
      <li>View an application details</li>
      <li>View a list of pending and closed applications for a group</li>
      <li>Record a decision for an application and log a reason</li>
      <li>Forward an application to a different department</li>
      <li>Leave a comment or update for an application that has not been processed</li>
    </ul>

    <p>Detailed changes from previous version and page layouts in this <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface?node-id=3584-11687">figma</a>.</p>
  </td>
</tr>
<!--  end example -->
