<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/v1-6/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1.6</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Iteration
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Version 1.6</h2>
    <p>Changes from previous version include:</p>
      <ul>
        <li>Added number of alerts into prisoners section of app details</li>
        <li>Changed address fields to be postcode lookup with option to enter manually new PIN contact form</li>
        <li>Added in an extra phone number field</li>
        <li>Added hint text about international numbers</li>
        <li>Added in field for new contact’s date of birth</li>
        <li>Added contact details calculated age to the check details and app details summary</li>
        <li>Added a character count to the reason field for emergency PINs so that staff are encouraged to summarise it.</li>
        <li>Updated reason hint text</li>
      </ul>
    <p>Figma screens <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface?node-id=3834-35525">figma design</a></p>
  </td>
</tr>
<!--  end example -->
