<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/v1/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Archived
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Version 1</h2>
    <p>This version of the prototype includes the basic flow to view an app from DPS home, via an apps landing page.</p>
    <p>We iterated the Figma designs faster than I could build this out so this prototype is archived and not complete.</p>
  </td>
</tr>
<!--  end example -->
