<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/staff/v2-latest/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Expansion work latest</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--green">
      Ideation
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Expansion work latest</h2>
    <p>This is an initial exploration of how we can scale up more apps faster to provide more value to prisons</p>
    <p>This idea moves away from stractured date and a small number of apps, to free text for a large number of categorised apps</p>

    <p>Based on the final <a href="https://www.figma.com/design/VcybFxCfpzKZzdgkvFL8vx/Managing-apps---expansion-work?node-id=1-44">figma design</a></p>
  </td>
</tr>
<!--  end example -->
