{% extends "layouts/dps.html" %}

{% set pageName="Remove PIN phone contact" %}
{% set version="v1-7" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/pin-phones/v1-7/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <span class="govuk-caption-xl">Remove PIN phone contact</span>
      <h1 class="govuk-heading-xl">Contact details to remove</h1>

      <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">


            <form class="form" action="/pin-phones/latest/applications/log/remove-pin-contact/check-details">

            <div class="govuk-form-group govuk-!-margin-bottom-5">
              <label class="govuk-label govuk-label--s" for="removeName">
                Full name
              </label>
              <input class="govuk-input" id="removeName" name="removeName" type="text" value="{{ data['removeName'] }}">
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-2">
              <label class="govuk-label govuk-label--s" for="removeTel1">
                Telephone numbers
              </label>
              <div id="removeTel1-hint" class="govuk-hint">
                Include area code or international code, if overseas
              </div>
              <input class="govuk-input" id="removeTel1" name="removeTel1" type="text" aria-describedby="removeTel1-hint" value="{{ data['removeTel1'] }}">
            </div>
            <div class="govuk-form-group govuk-!-margin-bottom-5">
              <label class="govuk-label govuk-label--s govuk-visually-hidden" for="removeTel2">
                Other telephone numbers
              </label>
              <div id="removeTel1-hint" class="govuk-hint govuk-visually-hidden">
                Include area code or international code, if overseas
              </div>
              <input class="govuk-input" id="removeTel2" name="removeTel2" type="text" aria-describedby="removeTel2-hint" value="{{ data['removeTel2'] }}">
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-5">
              <label class="govuk-label govuk-label--s" for="contactRelationship">
                Relationship
              </label>
              <input class="govuk-input" id="contactRelationship" name="contactRelationship" type="text" value="{{ data['contactRelationship'] }}">
            </div>

            <div class="moj-button-action">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end main content  -->



{% endblock %}
