{% extends "layouts/dps.html" %}

{% set pageName="Manage department" %}
{% set version="v1-7" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/pin-phones/v1-7/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/admin/">Admin</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/admin/groups/">Manage groups</a>
            </li>
          </ol>
        </div>
      </nav>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Manage groups</span>
      <h1 class="govuk-heading-xl">
        First night or early days centre
      </h1>

          <h2 class="govuk-heading-m">
            Wing details
          </h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Wing name
            </dt>
            <dd class="govuk-summary-list__value">
              First night or early days centre
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              fnc@hmpkirkham.justice.gov.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">
          Applications submitted
        </h2>
        <p class="govuk-body">Firt night centre does not recieve any initial applications</p>


        </div>
      </div>
    </div> <!-- end main content  -->
  </div>
</div>


{% endblock %}
