{% extends "layouts/main.html" %}

{% set pageName="Manage Applications" %}
{% block header %}
{% set homeurl="/" %}

{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}


<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          {{ pageName }}
        </h1>
        <div class="app-masthead__description">
          <p class="govuk-body-l">
            This section of the Launchpad prototype hub contains prototypes for the Manage Applications service.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Home',
      href: '/'
    },
    {
      text: 'Application tool',
      href: '/application-tool'
    },
     {
      text: 'PIN phones',
      href: '/pin-phones'
    },
    {
      text: 'Early work',
      href: '/early-work'
    },
    {
      text: 'Sandbox',
      href: '/sandbox',
      active: true
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <table class="govuk-table govuk-!-margin-top-5">
        <caption class="govuk-table__caption govuk-caption-xl">Sandbox</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <!--  experiment -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sandbox/print/action" class="govuk-link govuk-link--no-visited-state" target="_blank">Print</a>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">An experiment in how we could do print</p>
            </td>
          </tr>
          <!--  end experiment -->
          <!--  experiment -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sandbox/application-details-address-lookup" class="govuk-link govuk-link--no-visited-state" target="_blank">Address lookup</a>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Saving this as it has been deprioritised</p>
            </td>
          </tr>
          <!--  end experiment -->
          <!--  experiment -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sandbox/first-night-centre/v1/select-app-type" class="govuk-link govuk-link--no-visited-state" target="_blank">PIN apps / First night centre</a>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">A test to split legal and social PIN apps and flag ones that come from first night centre.</p>
            </td>
          </tr>
          <!--  end experiment -->
          <!--  experiment -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <h2 class="govuk-heading-s">Filters</h2>
              <ul class="govuk-list">
               <li><a href="/sandbox/filters/radios" class="govuk-link govuk-link--no-visited-state" target="_blank">Radios</a></li>
               <li><a href="/sandbox/filters/departments" class="govuk-link govuk-link--no-visited-state" target="_blank">Departments</a></li>
               <li><a href="/sandbox/filters/accordion" class="govuk-link govuk-link--no-visited-state" target="_blank">Full filters experiment</a></li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Trying out some different filter options for including the general app data.</p>
            </td>
          </tr>
          <!--  end experiment -->
          <!--  experiment -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <h2 class="govuk-heading-s">General app type lookup </h2>
              <ul class="govuk-list">
               <li><a href="/sandbox/general-app-search/index" class="govuk-link govuk-link--no-visited-state" target="_blank">Single search field</a></li>
               <li><a href="/sandbox/general-app-search/tabs" class="govuk-link govuk-link--no-visited-state" target="_blank">Search and manual enter</a></li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body">Trying out some different options to lookup the type of application for general app.</p>
            </td>
          </tr>
          <!--  end experiment -->

        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
