{% extends "layouts/dps.html" %}

{% set pageName="OMU" %}
{% set version="v1-7" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/v1-7/" %}


{% block content %}

<div class="govuk-width-container">

	<nav aria-label="breadcrumb">
		<div class="govuk-breadcrumbs">
			<ol class="govuk-breadcrumbs__list">
				<li class="govuk-breadcrumbs__list-item">
					<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
				</li>
				<li class="govuk-breadcrumbs__list-item">
					<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
				</li>
			</ol>
		</div>
	</nav>

	<span class="govuk-caption-xl">Applications</span>
	<h1 class="govuk-heading-xl">
		{{pageName}}
	</h1>
</div>

<div class="govuk-width-container">

	{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

	{{ mojSubNavigation({
	  label: 'Sub navigation',
	  items: [{
	    text: 'Pending',
	    href: './pending.html',
	    active: true
	  }, {
	    text: 'Closed',
	    href: './closed.html'
	  }]
	}) }}
</div>

<div class="dps-content">
	<div class="govuk-width-container">

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">
				{% include "./includes/filters.html" %}
			</div>

			<div class="govuk-grid-column-two-thirds">

				{% include "./includes/pending-apps.html" %}

			</div>
		</div>
	</div>
</div>


{% endblock %}
