<div class="govuk-summary-list--header">
  <h2 class="govuk-heading-m">Application details</h2>
  {% if (data['actionRespond']) or (app.decision == "Approved") or (app.decision == "Declined") %}
  {% else %}
  <a href="#" class="govuk-body">Change <span class="govuk-visually-hidden"> application details</span></a>
  {% endif  %}
</div>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Details
    </dt>
    <dd class="govuk-summary-list__value">
        {{ app.app_details }}
    </dd>
  </div>
</dl>
