{% extends "layouts/dps.html" %}

{% set pageName="New PIN phone contact" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/mvp/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
  			<div class="govuk-breadcrumbs">
  				<ol class="govuk-breadcrumbs__list">
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
  					</li>
            <li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/omu/pending.html">OMU</a>
  					</li>
  				</ol>
  			</div>
  		</nav>

      <h1 class="govuk-heading-xl">
        {% include "/staff/mvp/applications/includes/application-type.html" %}
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">


      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="./index.html">Application</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./comments.html">
              Comments
            </a>
          </li>

          {% if data['actionRespond'] == "approved" or data['actionRespond'] == "declined"  %}
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./action-decision.html">Action and reply</a>
          </li>
          {% else %}
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./action.html">Action and reply</a>
          </li>
          {% endif %}

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./history.html">History</a>
          </li>
        </ul>

      </nav>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Applicaton details</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                  Pending
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Department
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['appDept'] %}
                  {{ data['appDept'] }}
                {% else %}
                  OMU
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="forward.html">Forward<span class="govuk-visually-hidden"> department</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application type
              </dt>
              <dd class="govuk-summary-list__value">
                {% include "/staff/mvp/applications/includes/application-type.html" %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date sent
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ 0 | getDate }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application ID
              </dt>
              <dd class="govuk-summary-list__value">
                321321
              </dd>
            </div>
          </dl>


          <h2 class="govuk-heading-m">Prisoner details</h2>
          <dl class="govuk-summary-list  govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                Patel, Taj (
                  {% if data['prisonNumber'] %}
                    {{ data['prisonNumber'] }}
                  {% else %}
                    12345678
                  {% endif %}
                  )
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="">View profile</a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                C-2-013
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                IEP
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Enhanced</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alerts
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">5</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">View alerts</a>
              </dd>
            </div>
          </dl>

          {% if data['appType'] == "bh_03" %}
          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Emergency credit to add</h2>
            <a href="/staff/mvp/applications/log/emergency-pin-credit.html" class="govuk-body">Change <span class="govuk-visually-hidden"> Emergency PIN phone credit</span></a>
          </div>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Amount
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['pinCredit'] }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reason
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['emergencyPInReason'] }}
              </dd>
            </div>
          </dl>

          {% elseif data['appType'] == "bh_04" %}
          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Contact details to remove</h2>
            <a href="/staff/mvp/applications/log/remove-pin-contact.html" class="govuk-body">Change <span class="govuk-visually-hidden"> contact details</span></a>
          </div>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['removeName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Telephone numbers
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['removeTel1'] %}
                <p>{{ data['removeTel1'] }}</p>
                {% elseif data['removeTel2'] %}
                <p>{{ data['removeTel2'] }}</p>
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Relationship
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['contactRelationship'] }}
              </dd>
            </div>

          </dl>


          {% elseif data['appType'] == "bh_05" %}
          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">VOs to swap</h2>
            <a href="/staff/mvp/applications/log/swap-vos-pin-credit.html" class="govuk-body">Change <span class="govuk-visually-hidden"> Visiting orders</span></a>
          </div>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Details
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['vosDetail'] }}
              </dd>
            </div>
          </dl>

          {% elseif data['appType'] == "bh_06" %}

          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Supply contact list</h2>
            <a href="/staff/mvp/applications/log/supply-pin-contacts.html" class="govuk-body">Change <span class="govuk-visually-hidden"> PIN contact list</span></a>
          </div>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Details
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['printPINsDetail'] }}
              </dd>
            </div>
          </dl>


          {% elseif data['appType'] == "bh_02" %}

          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">New legal contact details to add</h2>
            <a href="/staff/mvp/applications/log/new-legal-pin-contact.html" class="govuk-body">Change <span class="govuk-visually-hidden">PIN phone contact</span></a>
          </div>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['legalFirstName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['legalLastName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['companyName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Telephone numbers
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['legalContactTel1'] %}
                <p>{{ data['legalContactTel1'] }}</p>
                {% elseif data['legalContactTel1'] %}
                <p>{{ data['legalContactTel2'] }}</p>
                {% endif %}
              </dd>
            </div>

          </dl>

          {% else %}

          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">New social contact details to add</h2>
            <a href="/staff/mvp/applications/log/new-social-pin-contact.html" class="govuk-body">Change <span class="govuk-visually-hidden">PIN phone contact</span></a>
          </div>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['socialContactFirstName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['socialContactLastName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Age or date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {% if (data['agedob'] == "DOB") %}
                {{ data['contact-dob-day'] }} / {{ data['contact-dob-month'] }} / {{ data['contact-dob-year'] }} <span id="age"> ({{ 2024 - data['contact-dob-year'] | int }} years old)</span>
                {% elseif (data['agedob'] == "Age") and data['contact-approx-age'] %}
                  {{ data['contact-approx-age'] }}
                {% elseif data['agedob'] == "NoAgeDOB"  %}
                  I do not know their age or date of birth
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Relationship
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['contactRelationship'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address line 1
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactAddress1'] %}
                  {{ data['contactAddress1'] }}
                {% else %}
                  23 Maple Street
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address line 2
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactAddress2'] %}
                  {{ data['contactAddress2'] }}
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Town or city
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactTowncity'] %}
                  {{ data['contactTowncity'] }}
                {% else %}
                  Manchester
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Postcode
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactPostcode'] %}
                  {{ data['contactPostcode'] }}
                {% else %}
                  M1 4QQ
                {% endif %}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Country
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactCountry'] %}
                  {{ data['contactCountry'] }}
                {% else %}
                  United Kingdom
                {% endif %}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Telephone numbers
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{ data['contactTel1'] }}</p>
                <p>{{ data['contactTel2'] }}</p>
              </dd>
            </div>

          </dl>

          {% endif %}


         </div>
      </div>

      </div>

    </div>


  </div> <!-- end main content  -->



{% endblock %}
