{% extends "layouts/dps.html" %}

{% set pageName="Log prisoner details" %}
{% set version="latest" %}
{% set phasebanner="yes" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/application-tool/single-general-app/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <span class="govuk-caption-xl">
        Add emergency PIN phone credit
      </span>
      <h1 class="govuk-heading-xl">Log prisoner details</h1>

      <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">


            <form class="form" method="post" action="/application-tool/single-general-app/applications/log/emergency-pin-credit/application-details">

              <div class="govuk-form-group govuk-!-margin-bottom-0">
                <label class="govuk-label govuk-label--s" for="prisonNumber">
                  Prison number
                </label>
                <input class="govuk-input govuk-input--width-10" id="prisonNumber" name="pin_03_prisonNumber" type="text" value="{{ data['pin_03_prisonNumber'] }}">
                <a href="#" id="prisonNumber-lookup" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Find prisoner
                </a>
              </div>

              <div class="govuk-form-group govuk-!-margin-bottom-0" style="display: none;">
                <label class="govuk-label govuk-label--s" for="prisonerName">
                  Prisoner name
                </label>
                <input class="govuk-input govuk-input--width-10" id="prisonerName" name="pin_03_prisonerName" type="text" value="{{ data['pin_03_prisonerName'] }}">
              </div>

              <div id="prisoner-name-check" class="govuk-inset-text govuk-!-margin-top-0">
                <p id="prisoner-name-row">Prisoner name: Patel, Taj</p>
                <p>Alerts: 5 <a href="#">View</a></p>
              </div>

              {%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

                {{ mojDatePicker({
                id: "submittedDate",
                name: "pin_03_submittedDate",
                label: {
                    text: "Date",
                    classes: "govuk-label--s"
                },
                value:  data['pin_03_submittedDate'] ,
                classes: "govuk-!-margin-bottom-5"
              }) }}


            <div class="moj-button-action">
              {% from "govuk/components/button/macro.njk" import govukButton %}
              {{ govukButton({
                text: "Continue"
              }) }}
            </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end main content  -->

{% endblock %}
