{% extends "layouts/main.html" %}

{% set pageName="Manage Applications" %}
{% block header %}
{% set homeurl="/" %}

{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}


<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          {{ pageName }}
        </h1>
        <div class="app-masthead__description">
          <p class="govuk-body-l">
            This section of the Launchpad prototype hub contains prototypes for the Manage Applications service.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
label: 'Primary navigation',
items: [
{
text: 'Home',
href: '/',
active: true
},
{
text: 'Application tool',
href: '/application-tool'
},
{
text: 'PIN phones',
href: '/pin-phones'
},
{
text: 'Early work',
href: '/early-work'
},
{
text: 'Sandbox',
href: '/sandbox'
}
]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-body-l">You can read the full <a
        href="https://docs.google.com/document/d/1R3rQEbhi_55T0JlcxT3DWeNcIJK7gwJ0ThRXzSz0D-E/edit?tab=t.0"
        target="_blank">design history</a> of this project here.</p>

    <div>
      <hr class="govuk-section-break--m">
      <h2 class="govuk-heading-m">
        <a href="/application-tool"
          class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state">Application tool</a>
      </h2>
      <p class="govuk-!-static-margin-top-3">Prototypes for the 'Application tool' the second key phase of the managing apps project.</p>
    </div>

    <div>
      <hr class="govuk-section-break--m">
      <h2 class="govuk-heading-m">
        <a href="/pin-phones"
          class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state">PIN phones</a>
      </h2>
      <p class="govuk-!-static-margin-top-3">Prototypes for the 'PIN phone apps' the first key phase and MVP of the managing apps project.</p>
    </div>

    <div class="hmpps-service-item">
      <hr class="govuk-section-break--m">
      <h2 class="govuk-heading-m">
        <a href="/early-work"
          class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state">Early work</a>
      </h2>
      <p class="govuk-!-static-margin-top-3">Prototypes for the early work of the managing apps project (before focus was put on PIN phones).</p>
    </div>

    <div class="hmpps-service-item">
      <hr class="govuk-section-break--m">
      <h2 class="govuk-heading-m">
        <a href="/sandbox"
          class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state">Sandbox</a>
      </h2>
      <p class="govuk-!-static-margin-top-3">Sandbox for experiments.</p>
    </div>


  </div>
  </div>

</div>

</div>
</div>

{% endblock %}