{% extends "layouts/dps.html" %}

{% set pageName="Log prisoner details" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/staff/v2-latest/" %}
{% set appType = data['appType'] %}
{% set appName = data['appName'] %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
      {% for type, details in data['unstructured'] %}
        {% for app in details.apps %}
          {% if app.app_id == data['appName'] %}

      <span class="govuk-caption-xl">{{ app.app_name }}</span>
      <h1 class="govuk-heading-xl">Log prisoner details</h1>


      <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">


            <form class="form" action="{{homeurl}}applications/log/application-details?url_cat={{appName}}">

              <div class="govuk-form-group govuk-!-margin-bottom-0">
                <label class="govuk-label govuk-label--s" for="prisonNumber">
                  Prison number
                </label>
                <input class="govuk-input govuk-input--width-10" id="prisonNumber" name="app_prisonNumber" type="text" value="{{ data['app_prisonNumber'] }}">
                <a href="#" id="prisonNumber-lookup" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Find prisoner
                </a>
              </div>

              <div id="prisoner-name-row"  class="govuk-inset-text govuk-!-margin-top-0">
                Prisoner name: Patel, Taj
              </div>

              {%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

                {{ mojDatePicker({
                id: "submittedDate",
                name: "app_submittedDate",
                label: {
                    text: "Date",
                    classes: "govuk-label--s"
                },
                value:  data['app_submittedDate'] ,
                classes: "govuk-!-margin-bottom-5"
              }) }}


            <div class="moj-button-action">
              {% from "govuk/components/button/macro.njk" import govukButton %}
              {{ govukButton({
                text: "Continue"
              }) }}
            </div>

            </form>

          </div>

          <div class="govuk-grid-column-one-half">
            <div>
              <h2>App Details</h2>
              <p><strong>type:</strong> {{ type }}</p>
              <p><strong>App ID:</strong> {{ app.app_id }}</p>
              <p><strong>App Type:</strong> {{ app.app_name }}</p>
            </div>
          </div>

        </div>
      </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

    </div>
  </div>

</div> <!-- end main content  -->

{% endblock %}


{% block pageScripts %}
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#address-picker')
  })
</script>

{% endblock %}
